<div class="center jumbotron">
  <h1>Welcome to the Cool Blog</h1>

  <h2>
    This is the best blogging platform for everyone!
    Let's start!
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>

 
  <h2> Or check out others <%= link_to 'posts', articles_path %></h2>
  
 

</div>

<%= image_tag("blog.jpg", alt: "cool blog", class: "cool") %>