<% provide(:title, 'All users') %>
<h1>All users</h1>

<ul class="users">
	<% @users.each do |user| %>
	<li>
	
		<% if user.avatar.attached? %>
			<%= cl_image_tag user.avatar.key, class: "avatar" %>
		<% else %>
			<%= image_tag "/images/index.png", class: "avatar" %>
		<% end %>

		<p><b>Name: </b><%= user.name %></p>
		<p><b>Mail: </b><%= user.email %></p>
	</li>
	<% end %>
</ul>