<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h4>
     	<%= image_tag @user.avatar.attached? ? @user.avatar : "index.png", class: "avatar" %>
        <b>Name:</b> <%= @user.name %></p>
        <b>E-mail:</b> <%= @user.email %></p>
       	<%= link_to "Edit", edit_user_path(current_user) %>
      </h4>
    </section>
  </aside>
</div>